In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC,SVR
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [2]:
#Kaggle Like: "https://www.kaggle.com/datasets/prathamtripathi/drug-classification"
#Dataset of Drugs
data = pd.read_csv("drug200.csv")

In [3]:
data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [15]:
#Convet String value to Integer value
data['Drug'].value_counts()
data['Sex'].value_counts()
data['BP'].value_counts()
data['Cholesterol'].value_counts()

2    103
1     97
Name: Cholesterol, dtype: int64

In [16]:
re_drugs = {
    r'DrugY': 1,
    r'drugX': 2,
    r'drugA': 3,
    r'drugB': 4,
    r'drugC': 5,
}
re_sex = {
    r'M': 1,
    r'F': 0,
}
re_bp = {
    r'HIGH': 2,
    r'NORMAL': 1,
    r'LOW': 0,
}
re_chol = {
    r'HIGH': 2,
    r'LOW': 0,
    r'NORMAL': 1,
}

data['Drug'] = data.Drug.replace(re_drugs, regex=True)
data['Sex'] = data.Sex.replace(re_sex, regex=True)
data['BP'] = data.BP.replace(re_bp, regex=True)
data['Cholesterol'] = data.Cholesterol.replace(re_chol, regex=True)
print(data)

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   2            2   25.355     1
1     47    1   0            2   13.093     5
2     47    1   0            2   10.114     5
3     28    0   1            2    7.798     2
4     61    0   0            2   18.043     1
..   ...  ...  ..          ...      ...   ...
195   56    0   0            2   11.567     5
196   16    1   0            2   12.006     5
197   52    1   1            2    9.894     2
198   23    1   1            1   14.020     2
199   40    0   0            1   11.349     2

[200 rows x 6 columns]

In [17]:
#Get the respective data from the dataset 
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
data['Drug'].value_counts()

1    91
2    54
3    23
5    16
4    16
Name: Drug, dtype: int64

In [18]:
#Splitting the dataset 7:3
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [19]:
X_train

     Age  Sex  BP  Cholesterol  Na_to_K
116   67    1   1            1    9.514
67    17    1   1            1   10.832
78    19    0   2            2   13.313
42    50    1   1            1   15.790
17    43    1   2            2   13.972
..   ...  ...  ..          ...      ...
133   24    1   1            2   25.786
137   35    0   2            2   12.894
72    24    0   1            2   10.605
140   49    1   2            1    6.269
37    39    1   0            1   13.938

[140 rows x 5 columns]

# RBF

In [20]:
#import the SVM and choose the kernel
classifier = SVC(kernel = 'rbf', random_state = 1)
classifier.fit(X_train, y_train)

SVC(random_state=1)

In [21]:
#Predict the test set classes
y_pred = classifier.predict(X_test)
y_pred

array([2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2,
       2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2], dtype=int64)

In [22]:
#Find Accuracy
cm = confusion_matrix(y_test, y_pred)
accuracy = float(cm.diagonal().sum())/len(y_test)
print("Accuracy: ",accuracy*100)

Accuracy:  71.66666666666667

# POLY

In [23]:
#import the SVM and choose the kernel
classifier = SVC(kernel = 'poly', random_state = 1)
classifier.fit(X_train, y_train)

SVC(kernel='poly', random_state=1)

In [24]:
#Predict the test set classes
y_pred = classifier.predict(X_test)
y_pred

array([2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2,
       2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2], dtype=int64)

In [25]:
#Find Accuracy
cm = confusion_matrix(y_test, y_pred)
accuracy = float(cm.diagonal().sum())/len(y_test)
print("Accuracy: ",accuracy*100)

Accuracy:  73.33333333333333

# Linear

In [34]:
#import the SVM and choose the kernel
classifier = SVC(kernel = 'linear', random_state = 1, degree=3)
classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=1)

In [35]:
#Predict the test set classes
y_pred = classifier.predict(X_test)
y_pred

array([2, 1, 2, 5, 1, 2, 2, 1, 1, 1, 2, 5, 1, 1, 3, 3, 2, 2, 4, 1, 2, 2,
       2, 1, 4, 2, 2, 1, 5, 2, 5, 1, 1, 1, 3, 1, 3, 1, 1, 1, 4, 1, 1, 2,
       4, 1, 2, 2, 1, 4, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3], dtype=int64)

In [36]:
#Find Accuracy
cm = confusion_matrix(y_test, y_pred)
accuracy = float(cm.diagonal().sum())/len(y_test)
print("Accuracy: ",accuracy*100)

Accuracy:  98.33333333333333